h1 {font-size:20pt;}
h2 {font-size:18pt;}
h3 {font-size:16pt;}
h4 {font-size:14pt;}
h5 {font-size:14pt;}
h6 {font-size:14pt;}
/*img {margin-left:0pt;}*/
p, li {font-family: "Times New Roman", Times, serif; font-size: 14pt;}
code, pre, tt {font-family: "Courier New", Courier, monospace; font-size: 12pt;}
