/.KerMLUiModule.java._trace
/.KerMLUiModule.xtendbin
/KerMLUiModule.java
/.KerMLUserKeywordHighlightingCalculator.java._trace
/KerMLUserKeywordHighlightingCalculator.java
/.KerMLUserKeywordHighlightingCalculator.xtendbin
