/.KerMLUiModule.java._trace
/.KerMLUiModule.xtendbin
/KerMLUiModule.java
/.KerMLUserKeywordHighlightingCalculator.java._trace
/KerMLUserKeywordHighlightingCalculator.java
/.KerMLUserKeywordHighlightingCalculator.xtendbin
/.KerMLAntlrTokenToAttributeIdMapper_.java._trace
/.KerMLAntlrTokenToAttributeIdMapper.java._trace
/.KerMLHighlightingConfiguration.java._trace
/.KerMLAntlrTokenToAttributeIdMapper.xtendbin
/.KerMLHighlightingConfiguration.xtendbin
/KerMLAntlrTokenToAttributeIdMapper.java
/KerMLHighlightingConfiguration.java
