/.SysMLScopeProvider.java._trace
/.SysMLScopeProvider.xtendbin
/SysMLScopeProvider.java
/.SysMLGlobalScope.java._trace
/.SysMLGlobalScopeProvider.java._trace
/.SysMLRootScope.java._trace
/.SysMLScope.java._trace
