/SysMLScopeProvider.java
/.SysMLScopeProvider.java._trace
/.SysMLScopeProvider.xtendbin
/.SysMLGlobalScopeProvider.java._trace
/.SysMLGlobalScopeProvider.xtendbin
/SysMLGlobalScopeProvider.java

