<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.omg.org/spec/SysML/2.0/OWL"
			class = "org.omg.kerml.owl.owl.OwlPackage"
			genModel = "model/generated/Owl.genmodel" />
	</extension>
</plugin>
