<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.qvt.oml.QvtTransformation">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.clearContents1" value="true"/>
    <booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.clearContents2" value="true"/>
    <booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.clearContents3" value="true"/>
    <booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.clearContents4" value="true"/>
    <mapAttribute key="org.eclipse.m2m.qvt.oml.interpreter.configurationProperties"/>
    <intAttribute key="org.eclipse.m2m.qvt.oml.interpreter.elemCount" value="4"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.featureName1" value=""/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.featureName2" value=""/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.featureName3" value=""/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.featureName4" value=""/>
    <booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.isInrementalUpdate" value="false"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.module" value="platform:/resource/org.omg.sysml/transforms/PrepareMetamodelKerMLSysMLPackages.qvto"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetModel1" value="platform:/resource/org.omg.sysml/model/Export/SysML_xmi.uml"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetModel2" value="pathmap://UML_LIBRARIES/UMLPrimitiveTypes.library.uml"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetModel3" value="platform:/resource/org.omg.sysml/model/Export/KerML_only_xmi.uml"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetModel4" value="platform:/resource/org.omg.sysml/model/Export/SysML_only_xmi.uml"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetType1" value="NEW_MODEL"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetType2" value="NEW_MODEL"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetType3" value="NEW_MODEL"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetType4" value="NEW_MODEL"/>
    <stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.traceFile" value="platform:/resource/org.omg.sysml/model/Export/KerML_only_xmi.PrepareMetamodelKerMLSysMLPackages.qvtotrace"/>
    <booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.useTraceFile" value="false"/>
</launchConfiguration>
