<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/org.omg.sysml/.lau"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.omg.sysml/src/org/omg/sysml/qvt/Alf2Instances.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.omg.sysml.qvt.Alf2Instances"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-l &quot;${project_loc}&quot;/log.txt&#10;&quot;${workspace_loc:org.omg.sysml}&quot;/transforms/Ecore2UML.qvto&#10;&quot;${workspace_loc:org.omg.sysml}&quot;/model/SysML.uml&#10;&quot;${selected_resource_loc}&quot; &#10;&quot;${container_loc}&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.omg.sysml"/>
</launchConfiguration>
