<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.omg.sysml.interactive/src/org/omg/sysml/interactive/profiler/SysMLInteractiveParsingProfiler.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.omg.sysml.interactive.profiler.SysMLInteractiveParsingProfiler"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="org.omg.sysml.interactive"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;${workspace_loc:/SySML-v2-Pilot-Implementation/sysml.library}&quot; &quot;${workspace_loc:/SySML-v2-Pilot-Implementation/sysml/src/training/02. Blocks/Blocks Example.sysml}&quot; &quot;${workspace_loc:/SySML-v2-Pilot-Implementation/sysml/src/training/07. Individuals/Individuals and Roles-1.sysml}&quot; &quot;${workspace_loc:/SySML-v2-Pilot-Implementation/sysml/src/validation/08-Requirements/8-Requirements.sysml}&quot; &quot;${workspace_loc:/SySML-v2-Pilot-Implementation/sysml/src/examples/v1 Spec Examples/D.4.7.8 Dynamics/HSUVDynamics.sysml}&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.omg.sysml.interactive"/>
</launchConfiguration>
