<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sysml -->
      <package
            uri="https://www.omg.org/spec/SysML/20240201"
            class="org.omg.sysml.lang.sysml.SysMLPackage"
            genModel="model/SysML.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML -->
      <package
            uri="https://www.omg.org/spec/UML/20161101/PrimitiveTypes"
            class="org.omg.sysml.lang.types.TypesPackage"
            genModel="model/SysML.genmodel"/>
   </extension>
   
   <extension point = "org.eclipse.emf.ecore.setting_delegate">
      <factory
      		uri="http://www.omg.org/spec/SysML"
      		class="org.omg.sysml.delegate.setting.DerivedPropertySettingDelegateFactory" />
   </extension>
   
   <extension point = "org.eclipse.emf.ecore.invocation_delegate">
      <factory
      		uri="http://www.omg.org/spec/SysML"
      		class="org.omg.sysml.delegate.invocation.OperationInvocationDelegateFactory" />
   </extension>

</plugin>
