<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="bad_container_name" value="/SySML-v2-Pilot-Implementation/org.omg.sysml.xte/.launch"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/org.omg.sysml.xtext/src/org/omg/sysml/xtext/util/SysML2XMI.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.omg.sysml.xtext.util.SysML2XMI"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="org.omg.sysml.xtext"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;${selected_resource_loc}&quot;&#10;&quot;${workspace_loc:/SysML-v2-Pilot-Implementation/sysml.library}/Kernel Libraries&quot; &#10;&quot;${workspace_loc:/SysML-v2-Pilot-Implementation/sysml.library}/Systems Library&quot; &#10;&quot;${workspace_loc:/SysML-v2-Pilot-Implementation/sysml.library}/Domain Libraries&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.omg.sysml.xtext"/>
</launchConfiguration>
