/.SysMLDescriptionLabelProvider.java._trace
/.SysMLDescriptionLabelProvider.xtendbin
/.SysMLLabelProvider.java._trace
/.SysMLLabelProvider.xtendbin
/SysMLDescriptionLabelProvider.java
/SysMLLabelProvider.java
